<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.i61.parent">

    <!-- network -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 安卓7.0以上系统应用私有目录的访问权限被限制，使用ContentProvider帮助将访问受限的file://URI 转化为可以授权共享的content://URI -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.i61.parent.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 登陆界面 -->
        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SelectAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.CameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <!-- 剪切图片的Activity -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name=".ui.SelectImageActivity" />
        <activity android:name=".ui.ShowMessageActivity" />
        <activity android:name=".ui.SettingActivity" />
        <activity android:name=".ui.MessageActivity" />

        <service
            android:name=".MessageService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".Broadcast.MessageCountReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.i61.parent.MESSAGE_BROADCAST"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>